body {
  padding: 0 20px;
}

.button-section {
  margin-top: 10%;
}

.gameButton {
  margin: 0 10px;
}

.result {
  margin: 20px auto;
  text-align: center;
}

.userResultText,
.computerResultText {
  margin: 0 10%;
}
