body {
  padding: 0 20px;
}

.button-section {
  margin-top: 10%;
}

.gameButton {
  margin: 0 10px;
}

.result {
  margin: 20px auto;
  text-align: center;
  font-size: 30px;
}

.userChoice {
  color: #007bff;
}

.userResultText,
.computerResultText {
  margin: 0 10%;
}

.end-animation {
  animation: end-animation 0.5s infinite alternate both;
}

@keyframes end-animation {
  from {
    transform: scale(1.01);
  }
}

@media (prefers-reduced-motion) {
  .end-animation {
    animation: none;
  }
}
