.container {
  padding: 10% 270px 0px;
  margin-top: 70px;
}

.result {
  padding: 2% 270px 3%;
  text-align: center;
}

.talley {
  display: flex;
  padding: 0 35%;
  margin-top: 20px;
  justify-content: space-between;
}
